/* color {
  :#2f365f,
  :#3d5f5d,
  :#f7f1ed,
  :#febeb0,
} */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.load-wrapp {
  width: 250px;
  height: 120px;
  margin: 10% 50% 10% 50%;
  transform: translate(-50%);
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d8;
}
.load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp:last-child {
  margin-right: 0;
}
.square {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: #4b9cdb;
}
.load-7 .square {
  animation: loadingG 2.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes loadingG {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(200px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
